.pb-80{
  padding-bottom: 80px;
}
.pt-80{
  padding-top: 80px;
}
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}


mark, ins {
  background: transparent !important;
  text-decoration: none;
}

.loading-content {
  position: relative;

  &:before {
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-left-color: #333;
    border-radius: 50%;
    vertical-align: middle;
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease, visibility .2s ease;
    -webkit-animation: wd-rotate 450ms infinite linear;
    animation: wd-rotate 450ms infinite linear;
  }

  & > * {
    opacity: .5 !important;
    pointer-events: none;
  }
}

@-webkit-keyframes wd-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes wd-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}