$primary_dark_color: #379000;
$primary_color: #4DB90B;
$secondary_dark_color: #F1A010;
$secondary_color: #F2BA0F;
$black_color: #242648;
$black2_color: #27294E;
$gray_color: #5A5C7F;
$gray2_color: #D5D5D5;
$gray3_color: #F9F9F9;
$white_color: #fff;


$min992: "only screen and (min-width: 992px)";
$min576: "only screen and (min-width: 576px)";

$max1650: "only screen and (max-width: 1650px)";
$max1366: "only screen and (max-width: 1366px)";
$max1280: "only screen and (max-width: 1280px)";
$max640: "only screen and (max-width: 640px)";
$max480: "only screen and (max-width: 480px)";
$max375: "only screen and (max-width: 375px)";
$max320: "only screen and (max-width: 320px)";

//Bootstrap
$max1399: "only screen and (max-width: 1399.98px)";
$max1199: "only screen and (max-width: 1199.98px)";
$max991: "only screen and (max-width: 991.98px)";
$max767: "only screen and (max-width: 767.98px)";
$max575: "only screen and (max-width: 575.98px)";