.z-banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0;

  .banner-content {
    h1 {
      color: #fff;
      margin-bottom: 30px;

      span{
        //color: $s_color;
      }
    }
    p{
      color: #fff;
      margin-bottom: 30px;
    }
  }
}