.footer-top{
    background: #f2f5fb;
    padding: 50px 0;
}
.footer-title{
    margin-bottom: 40px;
    color: #003DA7;
}
.footer-about p{
    color: #5a5554;
    margin: 0;
}
.footer-contact p{
    color: #5a5554;
    margin-bottom: 25px;
}
.footer-contact svg{
    fill: #e80000;
}

.footer-links ul li {
    margin-bottom: 5px;
}
.footer-links ul li button,
.footer-links ul li a{
    color: #5a5554;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}
.footer-links ul li a:hover{
    color: #e80000;
}
.footer-copyright{
    padding: 15px 0;
    background: #e80000;
    color: #fff;
}

.footer-copyright p{
    margin: 0;
}
.footer-right{
    text-align: right;
}
@media(max-width: 991px) {
    .footer-about{
        margin-bottom: 40px;
    }
}

@media(max-width: 767px) {
    .footer-copyright{
        text-align: center;
    }
    .footer-right{
        text-align: center;
    }
}